/* Importing the Source Code Pro font */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap'); */

/* Importing the Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Importing base styles */
@import './base.css';

/* Setting default styles for the body element */
/* body {
  background-color: #212529; /* Dark background color */
  /* color: #f6f8fa; Light foreground color for text */
  /* font-family: 'Source Code Pro', monospace; Default font */
/* } */

body {
  font-family: 'Ubuntu', sans-serif;
  /* Other styles... */
}


/* Main application container styles */
#app {
  margin: 0 auto; /* Centers the app horizontally */
  padding: 2rem; /* Padding around the app content */
  font-weight: normal;
}

/* Hyperlink and .green class styles */
a,
.green {
  text-decoration: none; /* Removes the underline from links */
  color: #d1d1d1; /* Light gray color */
  transition: 0.4s; /* Smooth transition for hover effects */
}

/* Hover effects for links */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2); /* Slight greenish background on hover */
    text-decoration: underline; /* Underline on hover */
    color: #b0b0b0; /* Darker shade of gray for hovered text */
  }
}

/* Header colors */
h1, h2, h3, h4, h5, h6 {
  color: #00a86b; /* Jade green color for headers */
}

/* Responsive design for larger screens */
@media (min-width: 1024px) {
  body {
    display: flex; /* Using flexbox to center content */
    place-items: center; /* Centering items both vertically and horizontally */
  }
}

/* Styling the main content container */
.main-content {
  background: #333; /* Darker background for content differentiation */
  padding: 30px; /* Padding inside the container */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Slight shadow for a 3D effect */
  border-radius: 8px; /* Rounded edges */
  margin: 20px 0; /* Spacing above and below the container */
}

/* Full-page container styles */
.container {
  display: flex; /* Using flexbox for centering */
  justify-content: center; /* Centering content horizontally */
  align-items: center; /* Centering content vertically */
  min-height: 100vh; /* Taking full viewport height */
  background-color: #1A1A1D; /* Dark background color */
}

/* Styling for the welcome container */
.welcome-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Pronounced shadow for emphasis */
}

/* Focus styles for accessibility */
.welcome-links a:focus, .articles-list a:focus {
  outline: 2px solid #ABDFFA; /* Blue outline when focused */
}
